*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#whole_page{
    width:100%;
    min-height: 100vh;
    background-color: #0984e3;
    display:flex;
    flex-wrap: wrap;
}


.note{
    width:400px;
    height:400px;
    background-color: #dfe6e9;
    margin:15px;
    margin-top: 60px;
}

.toolbar{
    width:100%;
    background-color: #2d3436;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: end;
}

.toolbar i{
    padding:5px;
    cursor: pointer;
}

.note textarea{
    border:none;
    width:100%;
    height:100%;
    resize:none;
    padding:20px;
    font-size: 18px;
}

.note textarea:focus{
    border:0px;
    outline:0px;
}

#add_note{
    position: fixed;
    right:10px;
    top:10px;
    background-color: #2d3436;
    color:white;
    padding:15px;
    border:0px;
    outline:0px;
    border-radius: 5px;
font-size: 14px;
}

.green{
    background-color: #c4cf6e;
}
.gray{
    background-color: #535c68;
    color:white
}
.yellow{
    background-color:#f6e58d;
}
.purple{
    background-color: #686de0; 
}
/* .light_gray{
    background-color: #CAD3C8;
} */

.colorpallet{
    position: fixed;
}

.text_content{
    font-weight: bold;
    position: fixed;
    right:40vw;
}